gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67

-e git+git://github.com/mugurrus/superdesk-core.git@2ebfacae061811fe9821e6c4c03e2eb262fb7157#egg=Superdesk-Core
-e git+git://github.com/superdesk/superdesk-analytics.git@963c6e1#egg=superdesk-analytics
